# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/dist

# misc
.DS_Store
*.pem

# Environment variables
.env.local             # Игнорировать локальные переменные окружения
.env.development.local # Игнорировать локальные переменные для разработки
.env.test.local        # Игнорировать локальные переменные для тестов
.env.production        # Игнорировать продакшн переменные окружения (важно!)
# .env                 # Эту строку лучше закомментировать или удалить, если вы используете специфичные .env файлы

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea
.vscode
*.swp
*.swo

# vercel
.vercel